<mat-form-field>
  <input #searchBox type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto"
         (keyup)="onNameSearch(searchBox.value)" (keydown.enter)="onReportSearch(searchBox.value)"
         title="Search for a Company by Name">
  <button matSuffix mat-button="" (click)="onReportSearch(searchBox.value)">
    <mat-icon>search</mat-icon>
  </button>
  <mat-placeholder>Enter a company's name</mat-placeholder>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let company of companies | async" [value]="company.name">
    {{company.name}}
  </mat-option>
</mat-autocomplete>
