<header>
  <mat-toolbar color="primary">
    <span>D-Risk Technology</span>
    <a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-button>
      <mat-icon matListIcon>home</mat-icon>
      Home
    </a>
    <a *ngIf="isAuthenticated()" routerLink="/dashboard" routerLinkActive="active" mat-button>
      <mat-icon matListIcon>dashboard</mat-icon>
      Dashboard
    </a>
    <a routerLink="/about" routerLinkActive="active" mat-button>
      <mat-icon matListIcon>info</mat-icon>
      About
    </a>
    <span class="toolbar-filler"></span>
    <ng-container [ngSwitch]="isAuthenticated()">
      <span *ngSwitchCase="true">{{name()}}<span></span><a (click)="logout()" mat-button>Logout</a></span>
      <a *ngSwitchDefault (click)="login()" mat-button>Login</a>
    </ng-container>
  </mat-toolbar>
</header>
