<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Get credit rating of any company listed on any exchange globally</h1>
      <h3>For Businesses, Financial Institutions, Intermediaries, Investors, and Issuers</h3>
      <hr class="intro-divider">
    </div>
  </div>
</header>

<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">On-Demand &amp; Up-To-Date Credit Ratings</h2>
        <p class="lead">
          Looking for a credit rating but none is available?
          <br/>
          Worried that your credit rating is outdated?
        </p>
        <p>
          Our credit ratings are updated in real-time to the latest information available
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="assets/pexels-photo-106344.jpeg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">AI-Driven Credit Rating Engine</h2>
        <p class="lead">
          Automated credit rating report generation
        </p>
        <p>
          Our engine uses natural language processing (NLP) to read annual reports, machine learning and big
          data to generate credit ratings without inputs from analysts
          <br/>
          Our pricing model minimizes conflict of interest and maintains independence
        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="assets/light-2729771_1280.png" alt="">
      </div>
    </div>
  </div>
</section>
