<mat-form-field>
  <input #searchBox type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto"
         (keyup)="onNameSearch(searchBox.value)" title="Search for a Company by Name">
  <mat-icon matSuffix (click)="onReportSearch(searchBox.value)">search</mat-icon>
  <mat-placeholder>Enter a company's name</mat-placeholder>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let company of companies | async" [value]="company.name">
    {{company.name}}
  </mat-option>
</mat-autocomplete>
