<mat-form-field>
  <mat-label>Enter a company's name</mat-label>
  <input #searchBar type="text" placeholder="Company's Name" matInput [formControl]="formControl" [matAutocomplete]="autoComplete"
         (keyup)="searchCompaniesByName(searchBar.value)" title="Search for a Company by Name">
  <mat-autocomplete #autoComplete [displayWith]="displayWidth">
    <ng-container [ngSwitch]="(companies | async)?.length">
      <mat-option *ngSwitchCase="0" class="empty">No Company Found!</mat-option>
      <ng-container *ngSwitchDefault>
        <mat-option *ngFor="let company of companies | async" [value]="company"
                    (onSelectionChange)="searchCreditReportsByCompanyId(company)">
          {{company.name}}
        </mat-option>
      </ng-container>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
