<mat-toolbar color="primary">
  <span>Company Logo</span>
  <a routerLink="/" routerLinkActive="active" mat-button>
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a *ngIf="isAuthenticated()" routerLink="/dashboard" routerLinkActive="active" mat-button>
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a routerLink="/about" routerLinkActive="active" mat-button>
    <mat-icon>info</mat-icon>
    About
  </a>
  <span class="toolbar-filler"></span>
  <a routerLink="/login" routerLinkActive="active" mat-button>Login</a>
</mat-toolbar>
